.container {
    text-align: center;
    margin-top: 50px;
    margin-left: 30px;
}

.tambah{
    margin-left: 30px;
    background-color: #3498db;
    border-color: #3498db;
    display: inline-block;
    border-radius: 5px;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.edit {
    background-color: #0d63fd;
    border-color: #0d63fd;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
    padding: 5px;
}

  
  .hapus {
    background-color: red;
    border-color: red;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
}
